
.loginContext form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 19px;
    width: 460px;
    height: 350px;
    border-radius: 13px;
    box-shadow: 3px 4px 5px 4px rgb(150, 5, 113);
    padding-bottom: 50px;
    background-color: #c71585;
}

.loginContext .in-row {
    padding: 6px;
    border-radius: 10px;
    width: 360px;
    height: 25px;
    margin-top: 20px;
    background-color: #ff66c4;
}

.loginContext .in-row input {
    position: relative;
    float: right;
    right: 3px;
    top: -2px;
    height: 70%;
    color:white;
    background-color: #ada8a8;
    opacity: 0.5;
    border: none;
    padding: 5px;
    padding-left:9px;
    padding-right: 10px;
    width :230px;
    border-radius: 7px;
}

.loginContext .in-row input::placeholder {
    color: white;
}

.loginContext h1 {
    margin-top: 30px;
    position: relative;
    top:20px;
    font-weight: bold;
    font-size: 28px;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.loginContext .in-row span {
    letter-spacing: 1px;
    position: relative;
    left: 10px;
    font-size: 15px;
    margin-right: 10px;
    color: white;
    font-weight: bold;
}

.loginContext form button {
    border-radius: 14px;
    border: none;
    width: 100px;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    background-color: #ff66c4;
    color: rgb(243, 240, 240);
    text-spacing-trim: 10px;
    letter-spacing: 1.2px;
    transition: all ease 0.3s;
    /* increase space between letters */

}

.loginContext form b,
a {
    color: rgb(226, 223, 223);
}

.loginContext form button:hover {
    width: 120px;
}