.input-bar {
    border:none;
    border-radius: 7px;
    height: 25px;
    padding:7px;
    width: 300px;
    margin-bottom: 20px;
}
.search-btn {
    width :60px;
    height: 36px;
    border-radius: 7px;
    transition: all ease 0.3s;
    color:rgb(71, 71, 71)
    
}
.search-btn:hover{
    width : 66px;
    margin-left:5px;
}