
.homeContext h1 {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    color: #c71585;
    font-size: 50px;
}
.homeContext p {
    margin-top:  10px;
    font-size: 19px;

}
.homeContext .text-box {
    display:  flex;
    width: 480px;
    padding: 0px;
}
.homeContext .text-box p {
    font-size: 20px;
    font-weight: 500;
    color: rgb(51, 51, 51);
}