.homeContainer {
    position: relative;
    width:100%;
    height: 100%;
}
.homeContext h1 {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    color: #c71585;
    font-size: 50px;
}
.homeContext p {
    margin-top: -10px;
    margin-left: 10px;
    font-size: 19px;

}