
.homeContext h1 {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    color: #c71585;
    font-size: 50px;
}
.homeContext p {
    margin-top:  10px;
    font-size: 19px;

}
.homeContext .text-box {
    display:  flex;
    width: 480px;
    padding: 0px;
}
.homeContext .text-box p {
    font-size: 20px;
    font-weight: 500;
    
    color: rgb(51, 51, 51);
}
.feat-box-header{
    font-size: 28px;
    color: #c71585;
    letter-spacing: 2px;
}
.homeContext .feat-box {
    display: flex;
    position: relative;
}
.feat-box .feat {
    border: 3px white solid;
    border-radius: 8px;
    padding : 14px;
}
.feat-box p {
    font-size: 18px;    
    color : rgb(51, 51, 51);
}
.feat-box .feat button {
    display: flex;
    align-items: center;
    padding : 4px;
    color : white;
    background: #c71585 ;
}
.feat-box .feat button svg {
    color : white;
    margin-right:4px;
    width : 30px;
    height: 30px;
}
